<style>
    table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 17px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #424242;
}

thead {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
</style>

{% extends 'railway/base.html' %}

{% block title %}All tickets{% endblock %}

{% block content %}
<h2>Tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>User</th>
                <th>Train</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.start_station.name }} - {{ ticket.end_station.name }}</td>
                <td>{{ ticket.user.username }}</td>
                <td>{{ ticket.train.number }}, {{ ticket.train.type }}</td>
                <td><a href="{% url 'railway:ticket_update' ticket.id %}">Update</a></td>
                <td><a href="{% url 'railway:ticket_delete' ticket.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No tickets were found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}