<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: whitesmoke;
        padding: 1px;
        text-align: left;
    }
    #logout-form {
        display: inline;
        position: absolute;
        right: 5px;
    }
    #logout-form button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        text-decoration: underline;
    }
</style>

<nav>
    <a href="{% url 'railway:home' %}">Home</a>
    <a href="{% url 'railway:routes' %}">Routes</a>
    <a href="{% url 'railway:stations' %}">Stations</a>
    <a href="{% url 'railway:trains' %}">Trains</a>
    <a href="{% url 'railway:ticket_search' %}">Tickets</a>
    <a href="{% url 'railway:wagon_types' %}">Wagons</a>
    <form id="logout-form" method="post" action="{% url 'railway:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</nav>