{% extends 'railway/base.html' %}

{% block title %}Train{% endblock %}

{% block content %}
    <div>
        <h2>Train's number: {{ train.number }}</h2>
        <p>Type: {{ train.get_type_display }}</p>
        <p>Current route:
            {% if train.route %}
                <a href="{% url 'railway:route' train.route.pk %}">
                    {{ train.route.name }}
                </a>
            {% else %}
                No route.
            {% endif %}
        </p>
        <a href="{% url 'railway:train_add_route' train.pk %}">Change route</a>
        <p>Current station:
            {% if train.station %}
                <a href="{% url 'railway:station' train.station.pk %}">
                    {{ train.station.name }}
                </a>
            {% else %}
                No station.
            {% endif %}
        </p>
        <a href="{% url 'railway:train_update' train.pk %}">Update</a>
        <a href="{% url 'railway:train_delete' train.pk %}">Delete</a>
        <p>Wagons:
            {% for wagon in train.get_sorted_wagons %}
                <li>
                    {{ wagon.number }}
                </li>
            {% empty %}
                <div>No wagons yet.</div>
            {% endfor %}
        </p>
    </div>
{% endblock content %}