{% extends 'railway/base.html' %}

{% block title %}Stations{% endblock %}

{% block content %}
    <h1>Stations</h1>
    <a href="{% url 'railway:station_create' %}">Add station</a>
    <h3>Station's list:</h3>
    <ul>
        {% for station in stations %}
        <li>
            <a href="{% url 'railway:station' station.pk %}">
                {{ station.name }}
            </a>
        </li>
        {% empty %}
            <div>No stations yet.</div>
        {% endfor %}
    </ul>

{% endblock content %}